<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
<timer checked="false" execute="js.timer" file="javascript.xml" interval="20"/>
<buttons>
  <button description="executes js.simpletest1" execute="js.simpletest1" file="javascript.xml" name="#1"/>
  <button description="executes js.simpletest1" execute="js.simpletest2" file="javascript.xml" name="#2"/>
  <button description="executes js.fails.after.5seconds" execute="js.fails.after.5seconds" file="javascript.xml" name="fail"/>
</buttons>
<tabs>
 <tab file="javascript.xml" name="JS" type="TaskList"/>
 <tab file="taskfield.xml" name="TextField" source="AntTaskField.bsh" type=""/>
 <tab file="javascript.xml"/>
 <tab file="javascript.xml" name="Tree" type="TreeList"/>
 <tab file="properties.xul" name="Properties" type="PropertyUI"/>
</tabs>
<options logger="org.apache.tools.ant.listener.TimestampedLogger"/>
</config>
